.DS_Store
.idea/
.devcontainer/
.vscode/
cmake-build-debug/
build/
build.*/
Testing/
test/build/
vcpkg_installed/
infer-out/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.suo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Temporary
*.swp
*.ninja
*.tmp
callgrind.*
massif.*

# CMake
CMakeScripts
*.cmake
*.plist
